.form__input,
.form__textarea {
  padding-top: 18px;
  padding-left: 40px;
  border: 1px solid #eee;
  outline: none;

  &::placeholder {
    @include font-sizing(14px, 1.5);
    color: $light-text-color;
  }
}

.form__input {
  width: 338px;
  height: 58px;
  padding-bottom: 18px;
  transition: border-color linear 250ms;

  &:focus {
    border-color: $theme-rose-color;
  }
}

.form__textarea {
  display: block;
  height: 128px;
  resize: none;
  transition: border-color linear 250ms;

  &:focus {
    border-color: $theme-rose-color;
  }
}

.form__button:hover,
.form__button:focus {
  color: $theme-rose-color;
}

@media screen and (max-width: 767px) {
  .form__input {
    margin-bottom: 26px;
  }

  .form__textarea {
    width: 100%;
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form__textarea {
    min-width: 400px;
  }

  .form__button {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    width: 705px;
  }

  .form__textarea {
    width: 705px;
  }
}
