.footer {
  height: 234px;
  background-color: #406ce6;
  padding-bottom: 10px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.footer-contacts {
  display: flex;
  margin-top: 17px;
  gap: 30px;

  @media screen and (max-width: 370px) {
    display: block;
    text-align: center;
  }
}

.footer__link,
.copyright {
  @include font-sizing(15px, 1.5);
  padding: 8px;
  color: #eee;
}

.copyright {
  text-align: center;
}

.footer__link_second {
  position: relative;
}

.footer__link_second::before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 35%;
  width: 1px;
  height: 12px;
  background-color: #eee;

  @media screen and (max-width: 370px) {
    display: none;
  }
}
