.header__container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
.lang-menu-wrapper {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
    gap: 130px;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .menu__link {
    @include font-sizing(15px, 0.09, 0.2px);
    text-transform: lowercase;

    color: $dark-text-color;
    transition: color linear 250ms;

    &:hover,
    &:focus {
      color: $theme-rose-color;
    }
  }
}
